{% load static %}

<div class="banners">
    <div id="carusell" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#carusell" data-slide-to="0" class="active"></li>
            <li data-target="#carusell" data-slide-to="1"></li>
            <li data-target="#carusell" data-slide-to="2"></li>
            <li data-target="#carusell" data-slide-to="3"></li>
            <li data-target="#carusell" data-slide-to="4"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://podarisliubov.com/image/cache/catalog/promotion/baner_koledni-podaraci_podarisliubov-848x444.jpg"
                     alt="koledni-podaraci" >
            </div>
            <div class="carousel-item">
                <img src="https://podarisliubov.com/image/cache/catalog/promotion/baner_gravirani_chashi-848x444.jpg"
                     alt="gravirani_chashi" >
            </div>
            <div class="carousel-item">
                <img src="https://podarisliubov.com/image/cache/catalog/promotion/baner_dekorativni-butilki-podarisliubov-848x444.jpg"
                     alt="dekorativni-butilki" >
            </div>
            <div class="carousel-item">
                <img src="https://podarisliubov.com/image/cache/catalog/promotion/zabavni-prestilki-za-gotvene-podarisliubov-848x444.jpg"
                     alt="prestilki-za-gotvene" >
            </div>
            <div class="carousel-item">
                <img src="https://podarisliubov.com/image/cache/catalog/promotion/podaraci-za-rojden-den-848x444.jpg"
                     alt="podaraci-za-rojden-den" >
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carusell" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carusell" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>