{% load static %}

<div class="name">
    <div class="menu">
        <h1 class="">Складови наличности</h1>
    </div>
</div>


<nav class="top">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="{% static 'img/podari-s-liubov-logo.jpg' %}" alt="logo"/>
            </a>
        </div>

        {% if user.is_authenticated %}
            <div class="pull-right">
                <li id="account" class="btn-group">
                    <i class="fa fa-user"></i>
                    <a class="btn" href="{% url 'user profile' user.id %} ">Profile</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'signout user' %}">Sign out</a>
                </li>
            </div>
        {% else %}
            <div class="pull-right">
                <li id="account" class="btn-group">
                    <i class="fa fa-user"></i>
                    <a class="btn" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup user' %}">Sign Up</a>
                </li>
            </div>
        {% endif %}
    </div>
</nav>

