{% extends 'shared/site.html' %}
{% load static %}

{% block site_content %}
{#    <h1 id="category" class="">Sign up</h1>#}
    <div id="menu" class="">
        <form style="" method="post" enctype="multipart/form-data">
            <h2>Sign up</h2>
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary" type="submit">Sign up</button>
            <span>Already has account<a href="{% url 'login' %}" style="">Sign in here</a></span>
        </form>
    </div>
{% endblock %}