{% extends 'shared/site.html' %}
{% load static %}

{% block site_content %}
    <form class="login" style="" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Registration Form</legend>
            {% csrf_token %}
            <p class="field1">
                {% for field in user_form %}
                    {% if field.name == 'username' %}
                        <label for="username">Username: </label>
                        <span class="input">
                            <input type="text" name="username" id="user" autocomplete="off">
                            <span class="actions"></span>
                            <i class="fas fa-user"></i>
                        </span>
                        {% if field.help_text %}
                            <div class="help_text">
                                <small>{{ field.help_text }}</small>
                            </div>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="error">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% elif field.name == 'first_name' %}
                        <label for="first_name">First Name: </label>
                        <span class="input">
                            <input type="text" name="first_name" id="first_name" >
                            <span class="actions"></span>
                            <i class="fas fa-user"></i>
                        </span>
                        {% if field.help_text %}
                            <div class="help_text">
                                <small>{{ field.help_text }}</small>
                            </div>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="error">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% elif field.name == 'last_name' %}
                        <label for="last_name">Last Name: </label>
                        <span class="input">
                            <input type="text" name="last_name" id="last_name" >
                            <span class="actions"></span>
                            <i class="fas fa-user"></i>
                        </span>
                        {% if field.help_text %}
                            <div class="help_text">
                                <small>{{ field.help_text }}</small>
                            </div>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="error">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% elif field.name == 'email' %}
                        <label for="email">E-mail</label>
                        <span class="input">
                            <input type="email" name="email" id="email" autocomplete="off">
                            <span class="actions"></span>
                            <i class="fas fa-envelope"></i>
                        </span>
                        {% if field.help_text %}
                            <div class="help_text">
                                <small>{{ field.help_text }}</small>
                            </div>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="error">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% elif field.name == 'password1' %}
                        <label for="password1">Password: </label>
                        <span class="input">
                            <input type="password" name="password1" id="password1" autocomplete="off">
                            <span class="actions"></span>
                            <i class="fas fa-key"></i>
                        </span>
                        {% if field.help_text %}
                            <div class="help_text">
                                <small>{{ field.help_text }}</small>
                            </div>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="error">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% elif field.name == 'password2' %}
                        <label for="password2">Password confirmation: </label>
                        <span class="input">
                            <input type="password" name="password2" id="password2" autocomplete="off">
                            <span class="actions"></span>
                            <i class="fas fa-key"></i>
                        </span>
                        {% if field.help_text %}
                            <div class="help_text">
                                <small>{{ field.help_text }}</small>
                            </div>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="error">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

            <div class="upload_pic">
            <p>Profile picture:</p>
                {% for field in profile_form %}
                    {% csrf_token %}
                    {{ field }}
                {% endfor %}
            </div>
            </p>

            <button class="btn-detail" type="submit">Sign up</button>
            <div class="reg">
                <span>Already has account?
                    <a href="{% url 'login' %}" style="">
                    <p>Login in here</p>
                    </a>
                </span>
            </div>
        </fieldset>
    </form>
{% endblock %}