{% extends 'shared/site.html' %}
{% load static %}

{% block site_content %}
    <div class="text-center">
        <h1>Hello,
            {% if profile_user.first_name or profile_user.last_name %}
                {{ profile_user.first_name }} {{ profile_user.last_name }}!</h1>
            {% else %}
                {{ profile_user.username }}
            {% endif %}
        <h5>Email: {{ profile_user.email }}</h5>
        {% if object.profile_picture %}
            <img class="rounded-circle mb-3" src="{{ object.profile_picture.url }}" alt="{{ object.profile_picture.label }}"
                 width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3" src="https://afribary.com/authors/anonymous-user/photo"
                 alt="Generic placeholder image" width="140"
                 height="140">
        {% endif %}
        <div class="w-50 m-auto">
            <form action="{% url 'current user profile' %}" method="post" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <button class="btn btn-primary">Upload</button>
            </form>


        </div>
    </div>
{% endblock %}