{% extends 'shared/site.html' %}
{% load static %}

{% block site_content %}
    <div class="text-center">
        <h1>Hello,
            {% if profile_user.first_name or profile_user.last_name %}
                {{ profile_user.first_name }} {{ profile_user.last_name }}!</h1>
            {% else %}
                {{ profile_user.username }}
            {% endif %}
        <h5>Email: {{ profile_user.email }}</h5>
        {% if object.profile_picture %}
            <img class="rounded-circle mb-3" src="{{ object.profile_picture.url }}" alt="profile picture"
                 width="240" height="240">
        {% else %}
            <img class="rounded-circle mb-3" src="https://afribary.com/authors/anonymous-user/photo"
                 alt="Generic placeholder image" width="240" height="240">
        {% endif %}
        <div class="w-50 m-auto">
            <form action="{% url 'current user profile' %}" method="post" enctype="multipart/form-data">
{#                {{ form.as_p }}#}
                <label for="profile_picture-clear_id">Clear your current profile picture <input type="checkbox" name="profile_picture-clear" id="profile_picture-clear_id"></label>
                <h6>Change your profile image:</h6>
                <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture">
                {% csrf_token %}
                </br></br>
                <button class="btn-detail new br">Upload picture / Remove current picture</button>
            </form>
        </div>
    </div>
{% endblock %}