{% extends 'shared/site.html' %}
{% load static %}

{% block site_content %}
    <form class="post" style="" method="post" enctype="multipart/form-data"
          action="{% url 'edit category' category.id %}">
        <fieldset>
            <legend>Edit Category:</legend>
            {% csrf_token %}
            <p class="field1">
                {{ form.category_name.label }}:
                {{ form.category_name }}
                {{ form.category_name.errors }}
            <p class="pic">
                <button class="btn-edit" type="submit">Edit</button>
                <a class="btn-detail-border" href="javascript:history.back()">No, go back</a>
            </p>
        </fieldset>
    </form>
{% endblock %}