{% extends 'shared/site.html' %}
{% load static %}

{% block site_content %}
    <form class="login" action="{% url 'create category' %}" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Create new Category</legend>
            {% csrf_token %}
            <p class="field1">
                <label for="category_name">{{ form.category_name.label }}: </label>
                <span class="input">
                    {{ form.category_name }}
                </span>
            </p>
            <button class="btn-detail" type="submit">Create</button>
        </fieldset>
    </form>
{% endblock %}