{% extends 'shared/site.html' %}
{% load static %}

{% block site_content %}
    <h2 class="">List of Categories:</h2>
    <div id="" class="">
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li>
                        <div class="list">
                            <div class="list-name">
                                <p>{{ category.category_name }}</p>
                            </div>
                            <div class="edit-delete">
                                <div class="edit-delete-edit">
                                    <button class="btn-detail"><a href="{% url 'edit category' category.id %}">Edit</a>
                                    </button>
                                </div>
                                <div class="edit-delete-delete">
                                    <button class="btn-delete"><a
                                            href="{% url 'delete category' category.id %}">Delete</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}