#menu {
    background: #bfbdbf;
    width: 60%;
    margin: 1rem auto;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 0;
    border: 1px solid black;
}

#menu h2 {
    margin: 0 auto;
    text-align: center;
}

#menu p {
    width: 100%;
    border: 1px solid black;
}

#menu > form {
    width: 60%;
}

.form p {
    position: relative;
}

.form i {
    display: flex;
    position: absolute;
    top: 10px;
    left: 2px;
    z-index: 200;
    align-items: center;
    color: grey;
}

.form i:before {
    padding: 0 1rem;
}

select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
    font-size: 1.0em;
}

.form-control[readonly] {
    opacity: .5
}

.form-control:focus {
    border: solid 1px #bbb;
    box-shadow: none
}

.help_text {
    color: grey;
}

.error {
    color: red;
}

.form-control {
    display: flex;
}

.form-control .name {
    flex-direction: row;
    /*margin: 2% 5% ;*/
    /*width: 100%;*/
}


.form-control .input {
    flex-direction: row;
    /*margin: 2% 10% ;*/
    /*width: 100%;*/
}


/*login form*/
body > form {
    width: 40%;
    margin: 0 auto;
    padding: 3em 0;
}

fieldset,
fieldset legend {
    background: rgb(248, 248, 248);
    border: 1px solid rgb(160, 160, 160);
    border-radius: 0.4rem;
    box-shadow: 0 0 3px rgb(99, 99, 99);
}

fieldset {
    display: block;
    position: relative;
    padding: 5rem;
}

fieldset legend {
    position: absolute;
    top: -1.5rem;
    left: -0.15rem;
    padding: 0.1rem 10rem 0.1rem 2rem;
}

form label {
    display: block;
}

.field {
    display: flex;
    align-items: center;
}

.field > label {
    /*flex: 0 0 8rem;*/
    padding-right: 0.6rem;
    text-align: right;
}

.input {
    display: flex;
    position: relative;
    align-items: center;
    flex: 1 0 auto;
}

.input input {
    order: 2;
    border: none;
    flex: 1 0 auto;
    outline: none;
    padding: 0.3rem 0.6rem;
    padding-left: 0;
    position: relative;
    z-index: 3;
    background: none;
}

.input .fas {
    order: 1;
    position: relative;
    z-index: 2;
    padding: 0.5rem 0.7rem;
}

.input .actions {
    border: 1px solid #CCC;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 0.5rem;
}

.input input:focus + .actions {
    border: 2px solid #090;
}

.input input:focus + .actions + .fas {
    color: #090;
}

#submit {
    font-size: 1.2rem;
    padding: 0.4rem 1.2rem;
    background: rgb(45, 45, 45);
    color: #FFF;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 0.2rem;
}

#user {
    width: 80%;
    padding: 0.2em;
}

/*#submit:active {*/
/*    color: red;*/
/*}*/

@media screen and (max-width: 1400px) {
    body > form {
        width: 80%;
    }

    .field {
        display: block;
    }

    .field > label {
        width: 100%;
        text-align: left;
    }
}

.reg {
    padding: 1em 0 0 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f6f3f3 inset;
    margin: 0.5em;
}

.upload_pic {
    margin: 0.5em 0 0.5em 0;
}

.field-label {
    display: flex;
    flex: 0 0 30%;
}

select {
    width: 100%;
}

.pic {
    margin: 0.5em;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.img-product {
    margin: 1em 0;
}

.list,
.edit-delete {
    display: flex;
    flex-direction: row;
    align-content: center;

}

div.list-name > p {
    padding: 0.5em;
}

.list-name,
.edit-delete {
    width: 50%;
}

.list-name {
    text-align: end;
    padding-right: 1em;
}

.edit-delete-edit,
.edit-delete-delete {
    padding: 0.1em 0.3em;
    color: white;
}

div.edit-delete-edit > button > a,
div.edit-delete-delete > button > a {
    color: var(--color-main-link);
}

.btn-detail-border {
    border: 1px solid var(--color-nav-bgrd);
    padding: 0.65em;
    border-radius: 0.4em;
    background-color: var(--color-nav-bgrd);
    color: var(--color-main-link);
    list-style-type: none;
}

* {
    text-decoration: none;
}

.btn-detail-border1 {
    border: 1px solid var(--color-nav-bgrd);
    padding: 0.4em;
    border-radius: 0.4em;
    background-color: var(--color-nav-bgrd);
    color: var(--color-main-link);
    list-style-type: none;
}

.quantity .add-quantity {
    padding: 1em 0.5em;
    display: flex;
    flex-direction: row;
    /*border: 1px solid var(--color-main-bgrd-special)*/
}

.quantity .sale-quantity {
    margin: 0.5em 0;
    padding: 1em 0.5em;
    display: flex;
    flex-direction: row;
    /*border: 1px solid var(--color-main-bgrd-special)*/
}

.name-quantity {
    padding: 0 0.5em;
    margin: 0 0.5em;
}

.btn-detail-margin {
    margin: 2em;
}