@import url('clear.css');
@import url('index.css');
@import url('form.css');
@import url('grid.css');
@import url('variables.css');
@import url('header_and_footer.css');
@import url('navigation.css');
@import url('carusel.css');

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
}

header {
    min-height: 50px
}

body {
    position: relative;
}

h1 {
    margin: 0.5em;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

h2 {
    /*margin: 0 auto;*/
    padding: 1em;
    color: var(--color-main-text);
}

.search {
    padding: 1em;
}

.btn-detail,
.btn-edit,
.btn-delete,
.btn-detail-margin,
.btn-edit-margin {
    color: var(--color-main-link);
    border-radius: 0.5em;
    padding: 0.5em;
}

.btn-detail {
    border: 1px solid var(--color-main-text);
    background-color: var(--color-main-text);
}

.btn-edit,
.btn-edit-margin {
    border: 1px solid var(--color-edit-btn);
    background-color: var(--color-edit-btn);
}

.btn-delete {
    border: 1px solid var(--color-danger-btn);
    background-color: var(--color-danger-btn);
}

.btn-color-text {
    color: var(--color-main-link);
}

.btn-detail2-prev,
.btn-detail-next {
    border: 1px solid var(--color-main-text);
    background-color: var(--color-main-text);
    margin: 0.5em;
    color: var(--color-main-link);
    border-radius: 0.5em;
    padding: 0.5em;
}

.btn-default {
    font-weight: bolder;
    color: var(--color-main-text);
    font-size: 1.1em;
}
