{% extends 'shared/site.html' %}
{% load static %}

{% block site_content %}
    <form class="login" style="" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Delete:</legend>
            {% csrf_token %}
            <p class="field1">
            <h3>Are you sure you want to delete: </h3>
            <h1>{{ product.product_name }}?</h1>
            <p method="post" action="{% url 'delete product' product.id %}">
                {% csrf_token %}
                <button class="btn-delete">
                    Confirm
                </button>
                <a class="btn-detail-border" href="javascript:history.back()">No, go back</a>
            </p>
            <p class="field1">
                <img class="img-product" src="{{ product.product_image.url }}"
                     alt="{{ product.product_name }}">
            </p>
        </fieldset>
    </form>
{% endblock %}