{% extends 'shared/site.html' %}
{% load static %}

{% block site_content %}
    <form class="login" action="{% url 'create product' %}" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Create new Product</legend>
            {% csrf_token %}
            <p class="field1">

                <label for="product_type">{{ form.product_type.label }}: </label>
                <span class="input">
                {{ form.product_type}}
{#                    {% for product_type in form.product_type|sort_by %}#}
{#                        {{ product_type|sort_by }}#}
{#                    {% endfor %}#}
                </span>

                <label for="product_code">{{ form.product_code.label }}: </label>
                <span class="input">
                    <input type="text" name="product_code" id="product_code" autocomplete="off">
                    <span class="actions"></span>
                </span>

                <label for="product_name">{{ form.product_name.label }}: </label>
                <span class="input">
                    <input type="text" name="product_name" id="product_name" autocomplete="off">
                    <span class="actions"></span>
                </span>

                <label for="product_description">{{ form.product_description.label }}: </label>
                <span class="input">
                    <input type="text" name="product_description" id="product_description"
                              placeholder="Write description.." ></textarea>
                    <span class="actions"></span>
                </span>

            <p class="pic">
                {{ form.product_image.label }}:
            </p>
            <p>
                {{ form.product_image }}
                {{ form.product_image.errors }}
            </p>
            <button class="btn-detail" type="submit">Create</button>
        </fieldset>
    </form>
{% endblock %}
