{% extends 'shared/site.html' %}
{% load static %}

{% block site_content %}
    <form action="{% url 'edit product' product.id %}"
          method="post" class="furniture-form" enctype="multipart/form-data">
        <fieldset>
            <legend>Edit Product - {{ product.product_name }}</legend>
            {% csrf_token %}
            <p class="field1">

                Category:
                {{ form.product_type }}

                {{ form.product_code.label }}:
                <input type="text" name="product_code" id="product_code" value="{{ product.product_code }}" readonly>

                {{ form.product_name.label }}:
                {{ form.product_name }}

                {{ form.product_description.label }}:
                {{ form.product_description }}

                {{ form.product_image }}
                {{ form.product_image.errors }}
            <div>
                <button class="btn-edit-margin" type="submit">Edit</button>
                <a class="btn-detail-border" href="javascript:history.back()">Back</a>
            </div>
            <div class="img-detail" id="img-detail"><img class="" src="{{ product.product_image.url }}"
                                                         alt="{{ product.product_name }}"></div>
            </p>

        </fieldset>
    </form>
{% endblock %}