{% extends 'shared/site.html' %}
{% load static %}

{% block site_content %}

    <div class="index-container">
        <ul class="main_content">
            <div class="row">
                <li class="main_content list"><a href="">Reports</a></li>
                <li class="main_content list"><a href="{% url 'list category' %}">Categories</a></li>
            </div>
            <div class="row">
                <li class="main_content list"><a href="{% url 'list product' %}">Products</a></li>
                <li class="main_content list"><a href="">Suppliers</a></li>
            </div>
        </ul>
    </div>

    {#    <div class="bottom-container">#}
    {#        <ul class="main_content">#}
    {#        </ul>#}
    {#    </div>#}
{% endblock %}